/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Lobster&family=Shadows+Into+Light&family=Staatliches&display=swap');

/* Memberi margin dan padding 0 pada seluruh halaman didalam dokumen HTML */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Style pada Body */
body {
    font-size: 18px;
    background-image: url(img/background.png);
    font-family: 'Asap', sans-serif;
}

/* Style pada Header 2 */
h2 {
    font-size: 3rem;
}

/* Style pada Header 3 */
h3 {
    font-size: 2rem;
}

/* Container */
.container {
    display: grid;
}

/* Style pada setiap class sub container yang ada pada setiap section */
section .sub-container {
    padding: 15rem 0;
}

/* Style untuk setiap class row yang ada di dalam class sub-container */
.sub-container .row {
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

/* Style untuk setiap class col yang ada didalam class row-col, yang berada pada class sub-container */
.sub-container .row-col .col {
    display: block;
    text-align: justify;
}

/* Style untuk setiap class row-col didalam class sub-container */
.sub-container .row-col {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Navigasi */
nav {
    /* visibility: hidden; */
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    display: block;
    transition: 0.5s;
}

/* Style untuk class container-menu yang ada didalam class menu didalam nav */
.menu .container-menu {
    background: linear-gradient(to right, rgb(39, 39, 39), rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

/* Style untuk class brand yang ada didalam class container-menu pada nav */
.container-menu .brand {
    padding: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

/* Style untuk class menu-list yang ada pada class container-menu pada nav */
.container-menu .menu-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

/* Style untuk tag a pada class container-menu di nav */
.container-menu a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
}

/* Style untuk class menu-list */
.menu-list {
    display: flex;
}

/* Style untuk tag a yang ada didalam class menu-list */
.menu-list a {
    padding: 5px;
    transition: 0.5s;
}

.menu-list a:hover {
    color: goldenrod;
}

/* Style untuk class search */
.search {
    display: flex;
}

/* Style untuk semua elemen yang ada pada tag form */
.search .form-control {
    border: 0.5px solid goldenrod;
    background: goldenrod;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 10px;
    color: white;
}

.search .form-control::placeholder {
    color: white;
}

/* Style untuk tag button yang ada pada form, dan tag button */
.search .btn-search {
    background: goldenrod;
    outline: hidden;
    padding: 5px;
    border: 0.5px solid goldenrod;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

.btn-search i {
    color: white;
    margin-right: 5px;
    font-size: 25px;
    position: relative;
}

/* Akhir dari Navigasi */

/* Jumbotron */
.jumbotron-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.jumbotron-container .jumbotron-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 15rem;
    z-index: 2;
}

.jumbotron-content .profil {
    display: grid;
    justify-items: center;
    color: goldenrod;
}

.profil .title {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Staatliches', cursive;
}

.profil p {
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
}

.profil img {
    border-radius: 50%;
}

.jumbotron-container .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    animation: animate 15s linear infinite;
}

.jumbotron-container .slider .slide {
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
    background-color: goldenrod;
}

.jumbotron-container .slider .slide .slide-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 80%;
}

.jumbotron-container .slider .slide.slide1 {
    background: url(https://www.spiria.com/site/assets/files/4406/taeha_type.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron-container .slider .slide.slide2 {
    background: url(https://i.redd.it/612pqp88xrc41.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron-container .slider .slide.slide3 {
    background: url(/img/bg3.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron-container .slider .slide.slide4 {
    background: url(https://i.redd.it/di1wrts5fun11.jpg);
    background-size: cover;
    background-position: center;
}

@keyframes animate {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }
}
/* Akhir dari Jumbotron */

/* About */
.sub-container .row-col .col {
    width: 30rem;
}

/* Akhir dari About */

/* Products */
.header .sub-container {
    padding: 15rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Style untuk class row didalam class sub-container yang ada pada class header */
.header .sub-container .row {
    text-align: right;
}

/* Style untuk class hero-container didalam class sub-container yang ada pada class header */
.header .sub-container .hero-container {
    width: 100%;
    min-height: 400px;
    border-radius: 10px;
    background-image: url(img/mk1.jpg);
    background-size: cover;
    background-position: center;
}

/* Style untuk class hero yang ada pada class hero-container didalam class sub-container yang dibungkus dengan class header */
.header .sub-container .hero-container .hero {
    padding: 15rem 5rem;
    text-align: left;
}

.hero-container .hero {
    position: absolute;
    margin-top: -39rem;
}

.hero-container .hero-cover {
    width: 85rem auto;
    height: 621px;
    border-radius: 10px;
    opacity: 60%;
    background-color: rgb(39, 39, 39);
}

.hero .heading, .typed-cursor {
    font-size: 50px;
    font-weight: bold;
}

.hero .heading, .typed-cursor, .topic {
    color: goldenrod;
}

/* Style untuk class products didalam class sub-container yang ada pada class header */
.header .sub-container .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    gap: 50px;
}

/* Style untuk class features */
.features {
    margin-top: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.features .animated-border {
    width: 390px;
    height: 256px;
    border: 5px solid goldenrod;
    transition: 0.5s;
    border-radius: 10px;
}

/* Style untuk tag image yang ada didalam class features */
.features img {
    width: 400px;
    margin-bottom: 15px;
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.1s;
}

/* style untuk cover image ketika hover aktif */
.features .animated-cover {
    width: 400px;
    height: 268px;
    position: absolute;
    background-color: goldenrod;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    transition: 0.1s
}

.features:hover .animated-cover {
    opacity: 40%;
    transition: 0.1s;
}

.features:hover img,
.animated-cover {
    transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.features:hover .animated-border {
    transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}

/* Style untukg class price yang ada didalam class features */
.features .price {
    margin-top: 30px;
    font-size: 2em;
    font-weight: 200;
}


/* Style untuk class info */
.info {
    border: 3px solid goldenrod;
    background-color: transparent;
    color: goldenrod;
    margin-top: 15px;
    padding: 10px;
    font-size: 1.2rem;
    width: 110px;
    border-radius: 50px;
    transition: 0.5s;
}

/* Kustomisasi info ketika hover active */
.info:hover {
    background-color: goldenrod;
    color: white;

}

/* Akhir dari Products */

/* Gallery */
/* Style untuk class col yang ada didalam class row-col pada class sub-container yang dibungkus dengan class gallery */
.gallery .sub-container .row-col .col {
    border: 5px solid blueviolet;
}

/* Style untuk tag image yang ada pada class row-col pada class sub-container yang dibungkus dengan class gallery */
.gallery .sub-container .row-col img {
    max-width: 100%;
}

/* Akhir dari Gallery */

/* Contact */
/* Style untuk class contact */
.contact {
    width: auto;
    height: auto;
    background: linear-gradient(rgb(39, 39, 39), rgb(0, 0, 0));
    padding: 10px;
}

/* kustomisasi wadah info & subscribe */
.contact .wrapper {
    width: 35cm;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

/* akhir dari kustomisasi wadah */

/* kustomisasi slot konten didalam wadah wrapper */
.wrapper .contact-info {
    display: flex;
    width: 20cm;
    height: auto;
}

.contact-info .slot-info {
    width: 200px;
    height: auto;
    margin-right: 20px;
    padding: 10px;
}

.slot-info .slot-head {
    font-weight: bold;
    color: white;
}

/* kustomisasi pada logo sosial media */
.slot-info .sos-logo {
    color: white;
    font-size: 18px;
    margin-top: 50%;
    margin-right: 50px;
}

.sos-logo i {
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    transition: 0.5s ease;
    margin-left: 3px;
}

/* kustomisasi hover pada logo sosial media */
.sos-logo i:hover {
    color: goldenrod;
    border-color: goldenrod;
    cursor: pointer;
}

/* akhir dari kustomisasi logo sosial media */

/* kustomsiasi link pada slot-info */
.slot-info li {
    list-style: none;
    padding: 3px;
    text-decoration: none;
}

.slot-info li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    transition: 0.5s EASE;
}

/* kustomsiasi hover link pada slot-info */
.slot-info li a:hover {
    color: goldenrod;
    font-size: 12px;
}

/* akhir dari kustomsiasi link pada slot-info */

/* kustomsiasi slot subscribe */
.wrapper .subscribe {
    width: 300px;
    height: auto;
    padding: 10px;
}

.subscribe .sub-head {
    color: goldenrod;
    font-weight: bold;
}

.subscribe .sub-text {
    color: white;
    font-size: 15px;
    margin-top: 26px;
}

/* akhir dari slot subscribe */

/* bagian form input email */
.subscribe .sub-email {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    width: 0;
    background: white;
}

.sub-email .form-input {
    border: 2px solid goldenrod;
    background: none;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 5px;
    color: gold;
}

.sub-email .form-input::placeholder {
    color: goldenrod;
}

.sub-email .btn-submit {
    background: goldenrod;
    outline: none;
    padding: 5px;
    border: 2px solid goldenrod;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.btn-submit i {
    color: white;
    margin-right: 5px;
    font-size: 25px;
    position: relative;
}

/* akhir dari form input email */

/* Akhir dari Contact */

/* Footer */
footer {
    text-align: center;
    background: #000;
    color: white;
    padding: 10px;
}

footer .foot-wrap {
    font-size: 14px;
    word-spacing: 3px;
    cursor: pointer;
}

.foot-wrap .foot-link {
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.foot-wrap .foot-link:hover {
    color: goldenrod;
}

/* Akhir dari Footer */

